<div class="container">
  <div class="row">
    <h1> Coworking Waiting List </h1>
  </div>
    <table class="table d-none d-lg-table" >
      <thead>
        <tr>
          <th>Place </th>
          <th>First Name </th>
          <th>Last Name </th>
          <th>Phone </th>
          <th>Email </th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.sort.each do |request| %>
        <% if request.status == "confirmed"%>
        <tr>
          <td> <%= @counter += 1 %> </td>
          <td> <%= link_to "#{request.client_first_name}", request_path(request.id)%></td>
          <td> <%=request.client_last_name%></td>
          <td> <%=request.phone%></td>
          <td> <%=request.email%></td>
          <td> <%=request.status%></td>
          <%end%>
          <%end%>
        </tr>

      <table class="table d-sx-table d-md-table d-lg-none">
      <thead>
        <tr>
          <th>Place </th>
          <th>First Name </th>
          <th >Status</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.sort.each do |request| %>
        <% if request.status == "confirmed"%>
        <tr>
          <td> <%= @counter += 1 %> </td>
          <td> <%=request.client_first_name%></td>
          <td> <%=request.status%></td>
          <%end%>
          <%end%>
        </tr>
      </tbody>
    </table>
</div>

