<div class="container" style="margin-bottom: 50px;">
 <div class="row justify-content-center text-center ">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
     <h1> Subscribe to our waiting list </h1>
        <%= simple_form_for (@request) do |f| %>
          <%= f.input :client_first_name %>
          <%= f.input :client_last_name %>
          <%= f.input :email %>
          <%= f.input :phone %>
          <%= f.input :bio %>
          <%= f.submit "Submit Request", class: "btn btn-primary"%>
        <% end %>
    </div>
  </div>
</div>
